<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestAPI">
  <test thread-count="5" name="TestAPI_01">
    <classes>
      <class name="com.test.basttest.TestApi"/>
      <class name="com.test.pagestest.TestApi"/>
      <class name="com.test.pagestest.TestApi_02"/>
    </classes>
  </test> <!-- TestAPI_01 -->
</suite> <!-- TestAPI -->
